* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.user-card {
  height: 200px;
  width: 300px;
  border-radius: 0.7rem;
  padding: 1rem;
}

.show-user {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
