* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  padding-inline: 2rem;
  background-color: white;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav .mid {
  display: flex;
  gap: 2rem;
}

.nav button {
  font-size: 1rem;
  background-color: rgb(31, 31, 67);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.sec1 {
  width: 100%;
  height: 85dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 4rem;
}
.sec1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.center {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  color: rgb(255, 255, 255);
  margin-bottom: 5rem;
  /* background-color: transparent; */
}

.center h1 {
  font-size: 3.2rem;
}

.center p {
  font-size: 1.5rem;
}

.center h3 {
  border: 1px solid rgb(52, 52, 52);
  border-radius: 1rem;
  display: flex;
  /* display: inline-block; */
  width: fit-content;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  opacity: 0.7;
  background-color: rgb(30, 30, 134);
}

.sec2 {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.sec2 .top {
  display: flex;
}

.top .left {
  width: 40%;
}

.top .left h3 {
  border: 1px solid rgb(52, 52, 52);
  border-radius: 1rem;
  display: flex;
  display: inline-block;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  opacity: 0.7;
}

.top .right {
  width: 60%;
}

.top .right h3 {
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.9;
  padding-inline: 1.8rem;
}

.sec2 .mid {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.mid .elem {
  width: 33%;
  /* height: 400px; */
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(94, 94, 94, 0.571);
}

.mid .left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 2rem;
  background-color: #0d1a2d;
  color: white;
}
.mid .left h3 {
  font-size: 2.2rem;
}

.mid .left h3 span {
  opacity: 0.6;
}

.mid .left h4 {
  font-size: 2rem;
}

.mid .cen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1629983004130-48670a1ef18a?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.mid .cen h3 {
  /* border: 1px solid; */
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.319);
  border-radius: 1rem;
  color: white;
}

.mid .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: aliceblue;
  color: #0d1a2d;
}

.mid .right .top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mid .right .top h1 {
  font-size: 4rem;
  font-weight: 500;
}
.mid .right .top p {
  font-size: 1.1rem;
}

.mid .right .bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.3rem;
}

.bottom-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.bottom-content .content{
  font-size: 1.3rem;
}
