* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  padding-inline: 2rem;
  background-color: white;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav .mid {
  display: flex;
  gap: 2rem;
}

.sec1 {
  width: 100%;
  height: 85dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sec1 img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 1rem;
}
.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  /* background-color: transparent; */
}
