* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  padding-inline: 2rem;
  background-color: white;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav .mid {
  display: flex;
  gap: 2rem;
}

.sec1 {
  width: 100%;
  height: 85dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 4rem;
}
.sec1 img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 1rem;
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  color: rgb(255, 255, 255);
  /* background-color: transparent; */
}

.center h1{
  font-size: 3rem;
}

.center p{
  font-size: 1.5rem;
}

.center h3 {
  border: 1px solid rgb(52, 52, 52);
  border-radius: 1rem;
  display: flex;
  /* display: inline-block; */
  width: fit-content;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  opacity: 0.7;
}

.sec2 {
  width: 100%;
  height: 100dvh;
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: relative; */
}

.sec2 .top {
  display: flex;
}

.top .left {
  width: 30%;
}

.top .left h3 {
  /* width: fit-content; */
  border: 1px solid rgb(52, 52, 52);
  border-radius: 1rem;
  display: flex;
  display: inline-block;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  opacity: 0.7;
}

.top .right {
  width: 70%;
}

.top .right h3 {
  font-size: 2.5rem;
  font-weight: 500;
  opacity: 0.9;
}
