* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
  color: white;
}

main {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.notes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1b1a1a;
  padding: 1rem;
  border-radius: 1rem;
}

.note-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#addBtn {
  background-color: rgb(26, 171, 23);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  align-self: center;
  border-radius: 0.5rem;
}

#deleteBtn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  align-self: center;
  border-radius: 0.5rem;
}

#updateBtn {
  background-color: rgb(126, 46, 46);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  align-self: center;
  border-radius: 0.5rem;
}
