* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.sec-1{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.nav{
  height: 10%;
  background-color: #282c34;
  padding: 1rem;
  color: white;
}

.section{
  height: 70%;
  padding: 2rem;
  text-align: center;
  background-color: aliceblue;
}

.footer{
  height: 20%;
  background-color: #515968;
  padding: 1rem;
  color: white;
  text-align: center;
}
