* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(58, 135, 61);
  padding: 1rem;
  height: 200px;
  width: 250px;
  border-radius: 1rem;
}
.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  border: none;
  font-size: 1rem;
}

button:active {
  scale: 0.9;
}
