* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: black;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(172, 165, 165);
  text-align: center;
}

.product img{
  max-width: 100%;
  height: 60%;
  border-radius: 8px;
  margin-bottom: 12px;
}
a{
  text-decoration: none;
  color: inherit;
}

.product h4{
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.product p{
  font-size: 16px;
  color: #555;

}