* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: black;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(172, 165, 165);
  text-align: center;
}

.product img{
  max-width: 100%;
  height: 60%;
  border-radius: 8px;
  margin-bottom: 12px;
}
a{
  text-decoration: none;
  color: inherit;
}

.product h4{
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.product p{
  font-size: 16px;
  color: #555;

}

.show-product{
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #a9cbb1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.specific-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 50%;
  height: 80%;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.355);
  background-color: rgb(172, 165, 165);
  text-align: center;
}

.specific-product img{
  max-width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 12px;
}
.specific-product h4{
  font-size: 24px;
  margin-bottom: 0.5rem;
}