* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #a9cbb1;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  height: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.355);
  background-color: rgb(172, 165, 165);
  text-align: center;
}

.product img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: contain;
}
a {
  text-decoration: none;
  color: inherit;
}

.product h4 {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.product p {
  font-size: 16px;
  color: #555;
}

.show-product {
  padding: 8px 16px;
  background-color: #a9cbb1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.specific-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 50%;
  height: fit-content;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.355);
  background-color: rgb(172, 165, 165);
  text-align: center;
}

.specific-product img {
  max-width: clamp(70%, 1.2vw, 100%);
  height: 300px;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: contain;
}
.specific-product h4 {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  margin-bottom: 0.5rem;
}

.price{
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  color: #0c4da8;
  font-weight: bold;
}

.description {
  font-size: clamp(0.2rem, 1vw, 0.7rem);
  color: #555;
}

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a9cbb1;
}

.homeBtn{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.homeBtn:hover{
  background-color: #45a049;
}
.homeBtn:active{
  transform: scale(0.98);
}

.backBtn{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
}

.backBtn:hover{
  background-color: #d7372a;
}

.backBtn:active{
  transform: scale(0.98);
}

