* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

.card-container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle at 70% 30%, #5a0f3c, #0d001a 60%);
  padding: 1rem;
}

.allCards {
  margin-block: 6rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.3rem;
  min-height: 480px;
  gap: 20px;
  background-color: rgba(129, 129, 129, 0.216);
  backdrop-filter: blur(20px);
  padding: 0.7rem;
  flex-wrap: wrap;
  width: 313px;
}
.card .img {
  height: 220px;
}

.img > img {
  height: 100%;
  width: 100%;
  border-radius: 1.3rem;
  object-fit: cover;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details > h3 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #c1a0b4;
}
.details > p {
  color: #993f75;
}

.details > h3 > span {
  font-size: 1rem;
  font-weight: 400;
  color: #8d657d;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  transform: all ease 0.3s;
  cursor: pointer;
}
.btns {
  background-color: #993f75;
  color: #baa6b2;
}
.btns:active {
  transform: scale(0.95);
}
