* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}

.parent {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background-color: white;
  padding: 10px;
  color: #111;
  border-radius: 15px;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top {
  height: 280px;
  width: 100%;
}
.top img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}
.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mid h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.mid h3 {
  font-size: 1rem;
  color: rgb(179, 55, 55);
  text-transform: uppercase;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom button {
  padding: 0.5rem 1.2rem;
  background-color: rgb(66, 66, 250);
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  color: white;
  font-weight: 800;
}
